.bannerBg {
  background-color: #2c5fa5;
  padding: 40px;
}
.primarycolor {
  color: #2c5fa5;
}
.headingTag {
  font-size: 55px;
  text-align: left;
  color: white;
  font-family: "Poppins", sans-serif;
}
.afterbanner {
  background: rgba(234, 249, 252, 0.774);
}
.afterbanner h2 {
  font-size: 35px;
  line-height: 45px;
  margin-right: 10px;
  text-align: left;
}
.afterbannePText {
  line-height: 30px;
  margin-bottom: 0px;
  color: rgb(88, 88, 88);
}
.productCM {
  background-image: url(https://milvikbd.com/about-bg.svg);
}
